*{
	padding: 0px;
	margin: 0px;
}

body{
	background-image: url('../tools/textu1.png');			
} 

header{
	background-color: #fdfdfd;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 150px;	
}

header .img{
	background-image: url('../tools/sigest-n.svg');
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	margin: 1.5%;
	width: 20%;
	height: 150px;
	margin-top: -0px;

}

.principal{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 500px;
	padding: 0px; 
	margin: 0px;
}

.principal .imagen{
	
	background-repeat: no-repeat;
	background-size: 100%;
	width: 75%;
	transition: all 2.8s ease;
}

.principal .imagen:hover{	
	background-size: 106%;
}

.principal .marcoLogin{
	position: relative;
	width: 25%;
}

.loginA{
	background-color: #f2fdf2;
	padding: 30px;
	position: absolute;
	top: -50px;
	right: 0px;
	width: 100%;
	height: 600px;
	border-radius: 11% 0px;
	box-shadow: 5px 3px 6px rgba(0,0,0,0.2);
}

.loginA h1{
	text-align: center;
	letter-spacing: 5px;
	margin-bottom: 50px;
}

.loginA input{
	border-radius:10px;
	font-size: 1.5em;
	height: 60px;
	margin-bottom: 30px;
}

.loginA .mensajes{
	background-color: rgba(0,0,0,0.0);
}

#enviar{
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	font-size: 2.1em;
}

.footer-section{
	padding: 2px;
}

.footer-section:first-child{
	border-right: 2px solid #22b2a0;
}

.footer-section:last-child{
	border-right: 2px solid #22b2a0;
}

.footer-section .contenido{
	margin-top: 40px;
	height: 100%;
	padding: 30px;
}

.main-footer{
	color: #fff;
	background-color: #123237;
	font-size: 1em;
	padding: 20px;
	width: 100%;
	height: 250px; 
	margin: 0px;
	text-align: center;
}



.principal .marcoMantenimiento{
	position: relative;
	width: 40%;
}


.principal .imagen_mantenimiento{
	background-image: url("../vistas/img/mantenimiento.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	width: 60%;
	transition: all 2.8s ease;
}


.mantenimiento_mensaje{
	background-color: #FFD970;
	padding: 30px;
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	height: 400px;
}

.mantenimiento_mensaje h1{
	background-color: #8F6C0D;
	color: #fff;
	text-align: center;
	letter-spacing: 5px;
	margin-bottom: 50px;
	width: 100%;
}

.carousel-alto{
	height: 500px;
}

.carousel-caption-ubicacion{
	display: flex; 
	position: absolute; 
	left: 0%;
	bottom: 25%;
}
.carousel-caption-ubicacion2{
	display: flex; 
	position: absolute; 
	left: 15%;
	bottom: 30%;
}
.carousel-caption-ubicacion3{
	display: flex; 
	position: absolute; 
	bottom: 20%;
}
.carousel-caption-ubicacion4{
	display: flex; 
	position: absolute; 
	bottom: 20%;
}

.filtro1{
	background-color: rgba(0, 0, 0, 0.431);
}

.filtro2{
	background-color: rgba(12, 11,39, 0.488);
}

.filtro3{
	background-color: rgba(12, 21, 10, 0.488);
	width: 100%;
}

@media (min-width:280px)and (max-width:480px ){
	body{
		background-image: url('../tools/textu1.png');
		/*background: linear-gradient(230deg,rgb(15, 117, 220),rgb(243, 138, 217));			*/
	} 
	main{
		display: flex;
		flex-direction: column;
		justify-content: stretch;
	}

	header{
		background-color: #fdfdfd;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		height: 100px;	
	}

	header .img{
		background-image: url('../tools/sigest-n.svg');
		background-size: 50%;
		background-position: left;
		background-repeat: no-repeat;
		width: 80%;
		height: 100px;
		margin-top: -0px;

	}
	.principal{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 0px; 
		margin: 0px;
	}
	
	.principal .imagen{
		background-image: url("../tools/sigest.png");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position-y: 25%;
		background-color: #0e515b;
		height: 250px;
		width: 100%;
		transition: all 2.8s ease;
	}
	
	.principal .imagen:hover{	
		background-size: 106%;
	}
	
	.principal .marcoLogin{
		position: relative;
		width: 100%;
		background-color: red;
	}
	
	.loginA{
		background-color: #f2fdf2;
		padding: 10px 30px;
		right: 0px;
		width: 100%;
		border-radius: 0px;
		box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
	}

	.loginA h1{
		text-align: center;
		letter-spacing: 5px;
		margin-bottom: 10px;
	}
	
	.loginA input{
		border-radius:5px;
		font-size: 1.5em;
		padding: 10px;
		margin-bottom: 10px;
	}
	
	.footer-section{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 10px; 
		margin: 0px;
		margin-top: 300px;
	}
	.footer-section .contenido{
		background-color: rgba(255,255,255,0.7);
		margin: 5px;
		padding: 30px;
		width: 95%;
		box-sizing: border-box;
	}

	.main-footer{
		color: #fff;
		background-color: #123237;
		font-size: 1em;
		padding: 20px;
		width: 100%;
		height: 250px; 
		margin: 0px;
		text-align: center;
	}
}

@media (min-width:481px) and (max-width:915px ){
	body{
		background-image: url('../tools/textu1.png');
		/*background: linear-gradient(230deg,rgb(15, 117, 220),rgb(243, 138, 217));			*/
	} 
	main{
		display: flex;
		flex-direction: column;
		justify-content: stretch;
	}

	header{
		background-color: #fdfdfd;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		height: 150px;	
	}

	header .img{
		background-image: url('../tools/sigest-n.svg');
		background-size: 50%;
		background-position: left;
		background-repeat: no-repeat;
		width: 60%;
		height: 130px;
		margin-top: 10px;

	}
	.principal{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 0px; 
		margin: 0px;
	}
	
	.principal .imagen{
		background-image: url("../tools/sigest.png");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position-y: 0px;
		background-color: #0e515b;
		height: 348px;
		width: 100%;
		transition: all 2.8s ease;
	}
	
	.principal .imagen:hover{	
		background-size: 106%;
	}
	
	.principal .marcoLogin{
		position: relative;
		width: 100%;
		background-color: red;
	}
	
	.loginA{
		background-color: #f2fdf2;
		padding: 10px 30px;
		right: 0px;
		width: 100%;
		border-radius: 0px;
		box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
	}

	.loginA h1{
		text-align: center;
		letter-spacing: 5px;
		margin-bottom: 10px;
	}
	
	.loginA input{
		border-radius:5px;
		font-size: 1.5em;
		padding: 10px;
		margin-bottom: 10px;
	}
	
	.footer-section{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 10px; 
		margin: 0px;
		margin-top: 300px;
	}
	.footer-section .contenido{
		background-color: rgba(255,255,255,0.7);
		margin: 5px;
		padding: 30px;
		width: 95%;
		box-sizing: border-box;
	}

	.main-footer{
		color: #fff;
		background-color: #123237;
		font-size: 1em;
		padding: 20px;
		width: 100%;
		height: 250px; 
		margin: 0px;
		text-align: center;
	}
}

