    .contenedor-votos{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 70px 20px;
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
        border-top: 3px solid rgba(255,255,255,0.4);
        border-bottom: 3px solid rgba(255,255,255,0.4);
        background: linear-gradient(0deg, #012a01, #40a788,#e4f894, #ddddff);
    }

    .contenedor-votos2{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 70px 20px;
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
        border-top: 3px solid rgba(255,255,255,0.4);
        border-bottom: 3px solid rgba(255,255,255,0.4);
        background: linear-gradient(0deg, #3e3ec3, #88a1f2, #ddddff);
    }
    
    .title-count{
        text-align: center;
        padding: 20px;
    }

    .resumen-votos{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        padding: 20px;
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
    	background-color: #141431;
        text-shadow: 0px 1px 2px #000;
        color: #fff;
    }
    
    .resumen-votos .abstencion{
        border-left: 1px solid #cecece;
        align-self: flex-end;
        padding: 0px 30px;
    }
    
    .tarjeta-candidato{
        display: flex;
        flex-flow: column nowrap;
        padding: 0px;
        margin: 10px;
        width: 240px;
    	background-color: #fff;
    	border: 2px solid #fff;
        text-shadow: 0px 1px 2px #000;
    }
    
    .tarjeta-candidato .can-partido{
        width: 100%;
        color: #fff;
        font-size: 0.7em;
        padding: 10px 5px;
    }
    
    .tarjeta-candidato .can-foto{
        height: 250px;
        width:100%;
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    
    .tarjeta-candidato .can-foto img{
        height: 100%;
        width:100%;
    }
    
    .tarjeta-candidato .can-foto .can-numero{
        padding: 5px;
        font-size: 3em;
        text-align: center;
        color: #fff;
        background-color: rgba(0,0,0,0.6);
        text-shadow: 0px 0px 3px #000;
        position: absolute;
        bottom: 0px;
        right: 0px;
        border-radius: 20px 0px 0px 0px;
    }

    .tarjeta-candidato .can-votos{
        position: relative;
        padding: 0px;
        width:100%;
        display: flex;
        justify-content: center;
        background-color:  #000;
        color: #fff;
        font-size: 2em;
        
    }
    
    .label-votos{
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 0.3em;
        padding: 2px 5px;
        text-weigth: bold;
        text-shadow: 0px 0px 0px rgba(0,0,0,0);
    }
        
    .tarjeta-candidato .can-porcentaje{
        height: 15px;
        width:100%;
        display: flex;
        justify-content: flex-start;
        align-items:center;
        background-color:  #141431;
        font-size: 0.7em;
        color: #fff;
    }
    
    .tarjeta-candidato .can-porcentaje .progreso{
        height: 100%;
        display: flex;
        justify-content: flex-start;
        background: linear-gradient(90deg, #134d13, #23bd43, #23fd43, #93fda3);
        margin-right: 3px;
    }
    .tarjeta-candidato .can-nombre{
        text-transform: uppercase;
        font-size: 0.9em;
        padding: 0px 5px;
        width:100%;
    }
    
    .tarjeta-candidato .can-apellidos{
        text-transform: uppercase;
        font-size: 1.2em;
        padding: 0px 5px;
        width:100%;
    }