body{
    /*background: url("IMG/marca_de_agua.png");*/
    display: flex;
    flex-flow: column nowrap;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
	background-color: #444451;
}

.logo-sistema{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    background-color: #E8E8E8;
    width: 100%;
}

.logo-sistema .logo{
    width: 10%;
}

.logo-sistema .escudo{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100px;
    height: 80px;
    padding: 10px;
    margin-right: 50px;
    border-radius: 50%;
    background-color: #fff;
}
.logo-sistema .escudo img{
    width: 70%;
}



.seccion-votante{
    width: 100%; 
    background: #00a552; 
    color: #fff; 
    padding: 10px;
}

.principal{
	padding: 0px;
}

.principal .container{
	margin: 0 auto;
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
    padding: 20px;
}

.tarjeton{
    border: 1px solid #1D1D23;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-flow: row nowrap;
	background-color: #fff;
    margin: 20px;
    width: 40%;
    padding: 15px;
    border-radius: 5px;
    transition: 0.5s ease;
}


.tarjeton .datos{
    flex-grow: 3;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    color: #fff;
    background-color: #1d3d23;
}

.tarjeton .datos .nombre{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #cecece;
    font-size: 1em;
}

.tarjeton .datos .numero{
    align-self: center;
    font-size: 5em;
}

.tarjeton:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(153,153,153,1);
    border: none;
    border: 3px solid transparent;
    border-image: -webkit-radial-gradient(red,transparent) 1 10;
    animation: animar 0.6s ease-in alternate infinite;
}    


@keyframes animar{
    0%{border-image: -webkit-radial-gradient(yellow,red,transparent) 1 10;box-shadow: 0px 0px 5px rgba(153,153,153,0.2)}
    50%{border-image: -webkit-linear-gradient(left,orange,brown) 1 10;box-shadow: 0px 0px 25px rgba(200,200,200,0.5)}
    100%{border-image: -webkit-radial-gradient(lightgreen, lightblue,transparent) 20 100;box-shadow: 0px 0px 50px rgba(253,253,253,1)}
}